git+https://github.com/chrisnorman7/default_argparse.git#egg=default_argparse
configobj
gevent
gmusicapi
flask
flask-wtf
wtforms
flask-sqlalchemy
sqlalchemy
flask-basicauth
attrs
attrs-sqlalchemy
